@font-face{font-family:Aclonica;src:url('fonts/Aclonica.ttf');}
body{
  background: gray;
  font-family: Aclonica, sans-serif;
  margin: 0;
}
h1, h2{
  text-align: center;
}
.canvas {
  border: 1px solid #808080;
  background: #ffffff;
  transition: .5s;
  margin: 0 auto;
}

.gameContainer{
  width: 1136px;
  
}